.featured-section{
    padding-left: 130px;
    padding-right: 130px;
    padding-bottom: 130px;

    background-color: var(--primary-color);
}

.post-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}