

<div class="container ">
    <div class="row">
        <div class="col-md-8">
            <div class="shadow-effect card">
                <img src="https://images.pexels.com/photos/4788287/pexels-photo-4788287.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" alt="ayush_blog_img" class="card-img-top img-fluid">
                <div class="card-body">
                    <small class="bg-light text-danger text-center">Design</small>
                    <small class="bg-light text-success text-center ml-2">Features</small>
                    <small class="bg-light text-info text-center ml-2">Views - 100,256</small>
                    <small class="bg-light text-danger text-center ml-2">Last Updated - SEP 20, 2021</small>

                    <h1 class="mt-3 mb-3">How to maintain work life balance</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima id numquam,
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto unde est dolores
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam illum laudantium eum corporis consectetur nemo blanditiis voluptatum doloremque explicabo! Ullam et perferendis fuga deserunt facere libero amet mollitia voluptate nam!
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam saepe earum nesciunt ad ut laborum, culpa ab voluptatem obcaecati quos aut maxime ratione atque ipsum aspernatur omnis cumque iure officiis minima. 
                        Illo quaerat quo eius quibusdam, dolore modi quasi minima explicabo reprehenderit tenetur dolores laborum corrupti saepe nisi debitis numquam, vero ipsum sapiente quos sed exercitationem? Odio, vero eligendi facere perspiciatis qui, aspernatur sint, 
                        consequuntur tempora facilis ab laudantium quam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore et similique, unde impedit quaerat adipisci quia fugiat iste recusandae reprehenderit autem, dolore ipsam officia harum illo consequuntur tenetur libero excepturi quis sunt sed repudiandae voluptatibus iure? Aliquam expedita aut eligendi illum maxime, neque ut laborum asperiores. Vitae cum amet deleniti iure ducimus omnis quod officia repellat inventore ad, adipisci in.
                         assumenda nostrum quae odio iure corrupti velit id. Illo laboriosam blanditiis tenetur hic sit nostrum quas! Hic laborum odit sint ipsum voluptate dicta similique molestiae dolorem, provident aliquam itaque, omnis, id consequatur corporis ullam.
                        ut aperiam rerum autem recusandae, incidunt, quam distinctio beatae minus velit harum nulla. At reiciendis harum ipsum sapiente, rerum molestiae neque itaque! Quisquam nemo exercitationem quidem unde, molestias vel harum optio recusandae possimus voluptatum doloremque, magnam eum labore. Consectetur repellendus sunt necessitatibus saepe fuga praesentium modi nobis, est consequuntur quod unde deserunt magnam voluptates aliquam amet ut, sed tempora.</p>
                </div>
            </div>
            <app-comment-form></app-comment-form>
            <app-comment-list></app-comment-list>
        </div>
        <div class="col-md-4">
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
        </div>
    </div>
</div>